.header {
  background: #010103;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 7%;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: white !important;
}

.header .forlogo .logo {
  border-radius: 50%;
}

.header .navs .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .navs .navlinks .navlinksitem {
  margin: 0 1rem;
  font-size: 1.9rem;
}

.header .navs .navlinks .navlinksitem a {
  color: white;
}

.header .navs .navlinks .navlinksitem a:hover {
  color: #d3ad7f;
  border-bottom: 0.1rem solid #d3ad7f;
  padding-bottom: 0.5rem;
}

.header .donateiconandbars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .donateiconandbars .bars {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  display: none;
}

.header .donateiconandbars .bars:hover {
  border-bottom: 0.1rem solid #d3ad7f;
  color: #d3ad7f;
}

.onsmallerscreen {
  width: 100vw;
  background-color: #13131a;
  position: fixed;
  z-index: 2;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: solid 1px #d3ad7f;
}

.onsmallerscreen .close {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.onsmallerscreen .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #d3ad7f;
}

.onsmallerscreen .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.onsmallerscreen .navlinks .navlinksitem {
  padding: 20px;
}

.onsmallerscreen .navlinks .navlinksitem a {
  color: white;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  font-size: 2rem;
}

.onsmallerscreen .navlinks .navlinksitem a:hover {
  color: #d3ad7f;
  border-bottom: 0.1rem solid #d3ad7f;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
}

/* media queries */
@media (max-width: 991px) {
  .header {
    padding: 1.5rem 2rem;
  }
}

/* media queries */
@media (max-width: 768px) {
  .header .navs {
    display: none;
  }
  .header .donateiconandbars .bars {
    display: inline-block;
  }
}
/*# sourceMappingURL=HeaderStyle.module.css.map */