@import '../variable';

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.589);
    z-index: 1;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

// for small background
.smallbackcontainer {
  display: none;
  width: 100%;
  height: 100vh;
  .smallbackback {
    width: 100%;
    height: 100%;
    background: url('../../public/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    z-index:1;
  }
  .smallbackoverlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 1;
  }
  .smallcontents{
    position: relative;
    z-index: 1;
    h3{
      display:flex;
      justify-content: center;
      align-items: center;
      color: $main-color;
      padding-top: 320px;
      font-size: 40px;

    }
  }
}
/* media queries */

@media (max-width: 768px) {
  .container {
    display: none;
  }
  .smallbackcontainer{
    display: block;
  }
}

// @media (min-width: 450px) {
//   .container {
//     display: none;
//   }
//   .smallbackcontainer{
//     display: block;
//   }
// }
